.universal-wrapper {
	padding-top: 20px;
}

body {
	font-size: 0.9rem;
}

.hljs {
	background: #f5f5f5;
}

.article-style img, .article-style video {
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#TableOfContents {
	border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 2em;
    width: 100%;
    display: table;
    font-size: 80%;
}

#TableOfContents ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

img + em { 
	font-size: 0.6rem;
	display: block;
	text-align: center;
	color: gray;
}

.navbar-default {
    border-color: transparent;
}